@model Model.EngageResumeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FH</title>
    <link rel="stylesheet"
          href="../../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/list.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/locate.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/select.js">
    </script>
    <script src="~/vue-2.4.0.js"></script>
    <script type="text/javascript">
 			window.onload=check;
		function tick() {
			var now = new Date();
			var hours, minutes, seconds, noon;
			var intHours, intMinutes, intSeconds;
			intHours = now.getHours();
			intMinutes = now.getMinutes();
			intSeconds = now.getSeconds();
			if (intHours < 24) {
				hours = intHours+":";
				noon = "A.M.";
			} else {
				intHours = intHours - 24;
				hours = intHours + ":";
				noon = "P.M.";
			}
			if (intMinutes < 10) {
				minutes = "0"+intMinutes+":";
			} else {
				minutes = intMinutes+":";
			}
			if (intSeconds < 10) {
				seconds = "0"+intSeconds+" ";
			} else {
				seconds = intSeconds+" ";
			}
			timeString = hours+minutes+seconds;
			var now = new Date();
		  	document.getElementById("nowTime").value=now.getFullYear()+"-"+(now.getMonth()+1)+"-"+now.getDate()+" "+timeString;
			window.setTimeout("tick();", 1000);
		}

		//load事件
		function check(){
			//获得系统当前时间的方法
		  	tick();
		}
    </script>
    <script type="text/javascript">
 		function search(){
 		document.getElementById("checkTime").value = document.getElementById("nowTime").value;
        document.humanfileForm.submit();
 		}
    </script>
    <script type="text/javascript">
        $(function () {
            $("#HumanBirthday").blur(function () {
                var thetime = $("#HumanBirthday").val();
                var d = new Date(Date.parse(thetime.replace(/-/g, "/")));
                var curDate = new Date();
                var year = new Date().getFullYear();
                var mon = new Date().getMonth() + 1;
                var day = new Date().getDate();
                var hours = new Date().getHours();
                var minutes = new Date().getMinutes();
                var seconds = new Date().getSeconds();
                if (hours < 10) {
                    hours = '0' + hours;
                }
                if (minutes < 10) {
                    minutes = '0' + minutes;
                }
                if (seconds < 10) {
                    seconds = '0' + seconds;
                }
                var sr = year + "-" + mon + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
                if (d > curDate) {
                    alert("请选择小于今天的日期！");
                    $("#HumanBirthday").val(sr);
                } else {
                    var year1 = thetime.substring(0, thetime.indexOf("-"));
                    $("#HumanAge").val(year - year1);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $(".zp").hover(function(){
                $(".dt").show();
            },
            function(){
                $(".dt").hide();
            });
        });
    </script>
    <style type="text/css">
        .aa {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <form method="post" action="/EngageResume/EngageResumeFH">
            <table width="100%">
                <tr>
                    <td>
                        <font color="black">您正在做的业务是：人力资源--招聘管理--简历管理--简历筛选--简历筛选复核</font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="hidden" name="PassCheckComment" value="不通过" />
                        <input type="hidden" name="PassPassComment" value="不通过" />
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="CheckStatus" value="1" />
                        <input type="hidden" name="InterviewStatus" value="1" />
                        <input type="submit" value="推荐" class="BUTTON_STYLE1">
                        <input type="button" value="返回" class="BUTTON_STYLE1" onclick="history.back();">
                    </td>
                </tr>
            </table>
            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr>
                    <td class="TD_STYLE1">
                        职位分类
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanMajorKindName
                    </td>
                    <td width="12%" class="TD_STYLE1">
                        职位名称
                    </td>
                    <td class="TD_STYLE2 aa" width="12%">
                        @Model.HumanMajorName
                    </td>
                    <td width="12%" class="TD_STYLE1">
                        招聘类型
                    </td>
                    <td class="TD_STYLE2 aa" colspan="2">
                        @Model.EngageType
                    </td>
                    <td width="5%" rowspan="6">
                        <img class="zp" style="margin:10px;width:100px;height:100px;" src="@Model.HumanPicture.Substring(@Model.HumanPicture.IndexOf(@"\Image"))" />
                        <img class="dt" style="position:absolute;width:400px;height:400px;margin:-114px 0px 0px -400px;display:none;" src="@Model.HumanPicture.Substring(@Model.HumanPicture.IndexOf(@"\Image"))" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        姓名
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanName
                    </td>
                    <td class="TD_STYLE1">
                        性别
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanSex
                    </td>
                    <td class="TD_STYLE1">
                        EMAIL
                    </td>
                    <td colspan="2" class="TD_STYLE2 aa">
                        @Model.HumanEmail
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        电话
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanTelephone
                    </td>
                    <td class="TD_STYLE1">
                        家庭电话
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanHomephone
                    </td>
                    <td class="TD_STYLE1">
                        手机
                    </td>
                    <td colspan="2" class="TD_STYLE2 aa">
                        @Model.HumanMobilephone
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        住址
                    </td>
                    <td colspan="3" class="TD_STYLE2 aa">
                        @Model.HumanAddress
                    </td>

                    <td class="TD_STYLE1">
                        邮编
                    </td>
                    <td colspan="2" class="TD_STYLE2 aa">
                        @Model.HumanAddress
                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1">
                        国籍
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanNationality
                    </td>
                    <td class="TD_STYLE1">
                        出生地
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanBirthplace
                    </td>
                    <td class="TD_STYLE1">
                        生日
                    </td>
                    <td width="13%" colspan="2" class="TD_STYLE2 aa">
                        @Model.HumanBirthday.ToString().Replace("/", "-")
                    </td>

                </tr>
                <tr>
                    <td width="11%" class="TD_STYLE1">
                        民族
                    </td>
                    <td class="TD_STYLE2 aa" width="14%">
                        @Model.HumanRace
                    </td>
                    <td class="TD_STYLE1">
                        宗教信仰
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanReligion
                    </td>
                    <td class="TD_STYLE1">
                        政治面貌
                    </td>
                    <td class="TD_STYLE2 aa" colspan="2">
                        @Model.HumanParty
                    </td>


                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        身份证号码
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanIdcard
                    </td>
                    <td class="TD_STYLE1">
                        年龄
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanAge
                    </td>
                    <td class="TD_STYLE1">
                        毕业院校
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanCollege
                    </td>

                    <td class="TD_STYLE1">
                        学历
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanEducatedDegree
                    </td>

                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        教育年限
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanEducatedYears
                    </td>
                    <td class="TD_STYLE1">
                        学历专业
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanEducatedMajor
                    </td>

                    <td class="TD_STYLE1">
                        薪酬要求
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.DemandSalaryStandard
                    </td>
                    <td class="TD_STYLE1">
                        注册时间
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.RegistTime.ToString().Replace("/", "-")
                    </td>

                </tr>
                <tr>

                    <td class="TD_STYLE1">
                        特长
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanSpecility
                    </td>
                    <td class="TD_STYLE1">
                        爱好
                    </td>
                    <td class="TD_STYLE2 aa">
                        @Model.HumanHobby
                    </td>
                    <td class="TD_STYLE1">
                        推荐人
                    </td>
                    <td class="TD_STYLE2 aa">
                        <input type="text" name="Checker"
                               readonly="readonly" value="@(((View_UserModel)Session["SHuser"]).U_true_name)"
                               class="INPUT_STYLE2" />
                    </td>
                    <td class="TD_STYLE1">
                        推荐时间
                    </td>
                    <td class="TD_STYLE2 aa">
                        <input type="text" name="CheckTime"
                               id="nowTime" readonly="readonly"
                               class="INPUT_STYLE2">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        个人履历
                    </td>
                    <td colspan="7" class="TD_STYLE2 aa">
                        @Model.HumanHistoryRecords
                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1">
                        备注
                    </td>
                    <td colspan="7" class="TD_STYLE2 aa">
                        <textarea name="item.remark" rows="4" class="TEXTAREA_STYLE1" readonly="readonly">@Model.Remark</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        推荐意见
                    </td>
                    <td colspan="7" class="TD_STYLE2 aa">
                        <textarea name="item.remark" rows="4" class="TEXTAREA_STYLE1" readonly="readonly">@Model.Recomandation</textarea>
                    </td>
                </tr>
            </table>
            </form>
</div>
</body>
</html>
