@model Model.HumanFileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HumanFileRegister</title>
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../css/cwcalendar.css" type="text/css">
    @*<script type="text/javascript"
            src="../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/jquery.messager.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/comm/select.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/time.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/human_register.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/human_input_check.js">
    </script>*@
    <script src="~/jquery-1.11.1.js"></script>
    <script src="~/jquery.validate.js"></script>
    <script src="~/jquery.validate.unobtrusive.js"></script>
    <script src="~/vue-2.4.0.js"></script>
    <script type="text/javascript">
 			window.onload=check();
		function tick() {
			var now = new Date();
			var hours, minutes, seconds, noon;
			var intHours, intMinutes, intSeconds;
			intHours = now.getHours();
			intMinutes = now.getMinutes();
			intSeconds = now.getSeconds();
			if (intHours < 24) {
				hours = intHours+":";
				noon = "A.M.";
			} else {
				intHours = intHours - 24;
				hours = intHours + ":";
				noon = "P.M.";
			}
			if (intMinutes < 10) {
				minutes = "0"+intMinutes+":";
			} else {
				minutes = intMinutes+":";
			}
			if (intSeconds < 10) {
				seconds = "0"+intSeconds+" ";
			} else {
				seconds = intSeconds+" ";
			}
			timeString = hours+minutes+seconds;
			$("#nowTime").val(now.getFullYear()+"-"+(now.getMonth()+1)+"-"+now.getDate()+" "+timeString);
			window.setTimeout("tick();", 1000);
		}

		//load事件
		function check(){
			//获得系统当前时间的方法
		  	tick();
		}
    </script>
    <script type="text/javascript">
        $(function () {
            $("#HumanBirthday").blur(function () {
                var thetime = $("#HumanBirthday").val();
                if (thetime != null && thetime != "") {
                    var d = new Date(Date.parse(thetime.replace(/-/g, "/")));
                    var curDate = new Date();
                    var year = new Date().getFullYear();
                    var mon = new Date().getMonth() + 1;
                    var day = new Date().getDate();
                    var hours = new Date().getHours();
                    var minutes = new Date().getMinutes();
                    var seconds = new Date().getSeconds();
                    if (hours < 10) {
                        hours = '0' + hours;
                    }
                    if (minutes < 10) {
                        minutes = '0' + minutes;
                    }
                    if (seconds < 10) {
                        seconds = '0' + seconds;
                    }
                    var sr = year + "-" + mon + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
                    if (d > curDate) {
                        alert("请选择小于今天的日期！");
                        $("#HumanBirthday").val(sr);
                    } else {
                        var year1 = thetime.substring(0, thetime.indexOf("-"));
                        $("#HumanAge").val(year - year1);
                    }
                }
            });
            $("#HFform").submit(function () {
                if ($("#SecondMid").attr("flag") == "true") {
                    if ($("#ThirdMid").attr("flag") == "true") {
                        if ($("#Majorid").attr("flag") == "true") {
                            return true;
                        } else {
                            alert("请选择职位名称!");
                        }
                    } else {
                        alert("请选择III级机构!");
                    }
                } else {
                    alert("请选择II级机构!");
                }
                return false;
            });
        });
    </script>
    <script type="text/javascript">
        var getCode = function (t) {
            if ($(t).val() != "") {
                var ele = $(t).val();
                var birth = ele.substring(6, 10) + "-" + ele.substring(10, 12) + "-" + ele.substring(12, 14);
                $("#HumanBirthday").val(birth);
                var sex = "";
                if (parseInt(ele.substr(16, 1)) % 2 == 1) {
                    sex = "男";
                } else {
                    sex = "女";
                }
                $("#HumanSex").val(sex);
                //获取年龄
                var myDate = new Date();
                var month = myDate.getMonth() + 1;
                var day = myDate.getDate();
                var age = myDate.getFullYear() - ele.substring(6, 10) - 1;
                if (ele.substring(10, 12) < month || ele.substring(10, 12) == month && ele.substring(12, 14) <= day) {
                    age++;
                }
                $("#HumanAge").val(age);
            }
        };
    </script>
</head>
<body>
    <div id="aa">
            @using(Html.BeginForm("Register", "HumanFile", FormMethod.Post,new {@id="HFform" })) {
            <input type="hidden" value="0" name="CheckStatus" />
            <table width="100%">
                <tr>
                    <td>
                        <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案登记 </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="submit" value="提交" class="BUTTON_STYLE1" />
                        <input type="reset" value="清除" class="BUTTON_STYLE1" />
                    </td>
                </tr>
            </table>
            <table width="100%" border="1" cellpadding=3 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr>
                    <td class="TD_STYLE1" width="11%">
                        I级机构
                    </td>
                    <td width="14%" class="TD_STYLE2">
                        <input type="hidden" name="FirstMName" v-model="MFName" />
                        <select name="FirstMid" id="FirstMid" class="SELECT_STYLE1" v-on:change="GetMSs()">
                            <option id="qxz1">--请选择--</option>
                            <option v-for="(item,i) in MFs" v-bind:value="item.FirstMId">{{item.FirstMName}}</option>
                        </select>
                    </td>
                    <td width="11%" class="TD_STYLE1">
                        II级机构
                    </td>
                    <td width="14%" class="TD_STYLE2">
                        <input type="hidden" name="SecondMName" v-model="MSName" />
                        <select name="SecondMid" flag="false" id="SecondMid" class="SELECT_STYLE1" style="background-color:#eee;" disabled="disabled" v-on:change="GetMTs()">
                            <option id="two" value="">--请先选择I级机构--</option>
                            <option v-for="(item,i) in MSs" v-bind:value="item.SecondMid">{{item.SecondMName}}</option>
                        </select>
                    </td>
                    <td width="11%" class="TD_STYLE1">
                        III级机构
                    </td>
                    <td class="TD_STYLE2" colspan="2">
                        <input type="hidden" name="ThirdMName" v-model="MTName" />
                        <select name="ThirdMid" flag="false" id="ThirdMid" class="SELECT_STYLE1" style="background-color:#eee;" disabled="disabled" v-on:change="GetMTName()">
                            <option id="third" value="">--请先选择II级机构--</option>
                            <option v-for="(item,i) in MTs" v-bind:value="item.ThirdMid">{{item.ThirdMName}}</option>
                        </select>
                    </td>
                    <td rowspan="5" style="text-align: center;"></td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        职位分类
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" name="HumanMajorKindName" v-model="MKName" />
                        <select name="HumanMajorKindId" id="MajorKindid" class="SELECT_STYLE1" v-on:change="GetMs()">
                            <option id="qxz2">--请选择--</option>
                            <option v-for="(item,i) in MKs" v-bind:value="item.Majorkindid">{{item.Majorkindname}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        职位名称
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" name="HumanMajorName" v-model="MName" />
                        <select name="HumanMajorId" flag="false" id="Majorid" class="SELECT_STYLE1" v-on:change="GetMName()" style="background-color:#eee;" disabled="disabled">
                            <option id="www">请选择职位分类</option>
                            <option v-for="(item,i) in Ms" v-bind:value="item.Majorid">{{item.Majorname}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        职称
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        <select name="HumanProDesignation" class="SELECT_STYLE1">
                            <option v-for="(item,i) in ZC" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        姓名
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("HumanName",null,new { @class = "INPUT_STYLE2" })
                        @Html.ValidationMessage("HumanName")
                    </td>
                    <td class="TD_STYLE1">
                        性别
                    </td>
                    <td class="TD_STYLE2">
                        <select id="HumanSex" name="HumanSex" class="SELECT_STYLE1">
                            <option value="男" selected="selected">
                                男
                            </option>
                            <option value="女">
                                女
                            </option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        EMAIL
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        <input type="text" name="HumanEmail" id="humanEmail"  class="INPUT_STYLE2">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        电话
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("HumanTelephone", null, new { @class = "INPUT_STYLE2" })
                        @Html.ValidationMessage("HumanTelephone")
                    </td>
                    <td class="TD_STYLE1">
                        QQ
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="HumanQQ" class="INPUT_STYLE2" />
                    </td>
                    <td class="TD_STYLE1">
                        手机
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        <input type="text" name="HumanMobilephone" class="INPUT_STYLE2" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        住址
                    </td>
                    <td colspan="3" class="TD_STYLE2">
                        <input type="text" name="HumanAddress" class="INPUT_STYLE2" />
                    </td>
                    <td class="TD_STYLE1">
                        邮编
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        <input type="text" name="HumanPostcode" class="INPUT_STYLE2" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        国籍
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanNationality" class="SELECT_STYLE1">
                            <option v-for="(item,i) in GJ" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        出生地
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="HumanBirthplace" class="INPUT_STYLE2" />
                    </td>
                    <td class="TD_STYLE1">
                        生日
                    </td>
                    <td width="13%" class="TD_STYLE2">
                        <input type="text" readonly="readonly" name="HumanBirthday" class="INPUT_STYLE2" id = "HumanBirthday" />
                    </td>
                    <td width="11%" class="TD_STYLE1">
                        民族
                    </td>
                    <td class="TD_STYLE2" width="14%">
                        <select name="HumanRace" class="SELECT_STYLE1">
                            <option v-for="(item,i) in MZ" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        宗教信仰
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanReligion" class="SELECT_STYLE1">
                            <option v-for="(item,i) in ZJXY" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        政治面貌
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanParty" class="SELECT_STYLE1">
                            <option v-for="(item,i) in ZZMM" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        身份证号码
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("HumanIdcard", null, new { @class = "INPUT_STYLE2",@onchange= "getCode(this)" })
                        @Html.ValidationMessage("HumanIdcard")
                    </td>
                    <td class="TD_STYLE1">
                        社会保障号码
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="HumanSocietySecurityId" class="INPUT_STYLE2" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        年龄
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="HumanAge" id="HumanAge" class="INPUT_STYLE2" readonly="readonly">
                    </td>
                    <td class="TD_STYLE1">
                        学历
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanEducatedDegree" class="SELECT_STYLE1">
                            <option v-for="(item,i) in XL" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        教育年限
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanEducatedYears" class="SELECT_STYLE1">
                            <option v-for="(item,i) in JYNX" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        学历专业
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanEducatedMajor" class="SELECT_STYLE1">
                            <option v-for="(item,i) in XLZY" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        薪酬标准
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" v-model="SalaryStandardName" name="SalaryStandardName"  />
                        <input type="hidden" v-model="SalarySum" name="SalarySum" />
                        <select name="SalaryStandardId" v-on:change="SetSalaryStandardName" id="SalaryStandardId" class="SELECT_STYLE1">
                            <option v-for="(item,i) in SSs" v-bind:ze="item.Salarysum" v-bind:value="item.Standardid" >{{item.Standardname}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        开户银行
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="HumanBank"
                               class="INPUT_STYLE2">
                    </td>
                    <td class="TD_STYLE1">
                        帐号
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="HumanAccount"
                               class="INPUT_STYLE2">
                    </td>
                    <td class="TD_STYLE1">
                        登记人
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="Register" value="@(((View_UserModel)Session["user"]).U_true_name)"
                               readonly="readonly" class="INPUT_STYLE2">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        建档时间
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="RegisteTime" id="nowTime" readonly="readonly"
                               class="INPUT_STYLE2">
                    </td>
                    <td class="TD_STYLE1">
                        特长
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanSpecility" class="SELECT_STYLE1">
                            <option v-for="(item,i) in TC" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        爱好
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanHobby" class="SELECT_STYLE1">
                            <option v-for="(item,i) in AH" v-bind:value="item.Attribute_name">{{item.Attribute_name}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        &nbsp;
                    </td>
                    <td class="TD_STYLE2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        个人履历
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="HumanHistoryRecords" rows="4"
                                  class="TEXTAREA_STYLE1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        家庭关系信息
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="HumanFamilyMembership" rows="4"
                                  class="TEXTAREA_STYLE1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        备注
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="Remark" rows="4" class="TEXTAREA_STYLE1"></textarea>
                    </td>
                </tr>
            </table>
            }
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#aa",
            data: {
                MFs: null,
                MSs: null,
                MTs: null,
                Ms: null,
                MKs: null,
                MFName: null,
                MSName: null,
                MTName: null,
                MKName: null,
                MName: null,
                SalaryStandardName: $("#SalaryStandardId option:checked").text(),
                ZPLX: null,
                GJ: null,
                MZ: null,
                ZJXY: null,
                ZZMM: null,
                XL: null,
                JYNX: null,
                XLZY: null,
                TC: null,
                AH: null,
                ZC: null,
                SalarySum:null,
                SSs:null,
            },
            methods: {
                GetMFs: function () {
                    var t = this;
                    $.ajax({
                        url: "../MechanismFirst/GetMFs",
                        type: "post",
                        success: function (rs) {
                            t.MFName = eval("(" + rs + ")")[0].FirstMName;
                            t.MFs = eval("(" + rs + ")");
                        }
                    });
                },
                GetMSs: function () {
                    var t = this;
                    t.MFName = $("#FirstMid option:checked").text();
                    $.ajax({
                        url: "../MechanismThird/GetMSsWhereFirst",
                        type: "post",
                        data: "id=" + $("#FirstMid").val(),
                        success: function (rs) {
                            $("#qxz1").remove();
                            if (eval("(" + rs + ")").length > 0) {
                                $("#two").remove();
                                t.MSName = eval("(" + rs + ")")[0].SecondMName;
                                t.MSs = eval("(" + rs + ")");
                                $("#SecondMid").attr("disabled", false);
                                $("#SecondMid").attr("flag", "true");
                                $("#ssd").attr("disabled", false);
                                $("#SecondMid").css("backgroundColor", "#F5EDE1")
                                t.GetMTs(eval("(" + rs + ")")[0].SecondMid);
                            } else {
                                $("#SecondMid").attr("flag", "false");
                                t.Flag2 = false;
                                t.MSName = "";
                                t.MSs = [{ SecondMName: "暂无子机构,请重新选择I级机构", SecondMid: "0" }];
                                $("#SecondMid").attr("disabled", "disabled");
                                $("#ssd").attr("disabled", "disabled");
                                $("#SecondMid").css("backgroundColor", "#EEE")
                                t.GetMTs("0");
                            }
                        }
                    });
                },
                GetMTs: function (ss) {
                    var t = this;
                    var sid = ss != null ? ss : $("#SecondMid").val();
                    $.ajax({
                        url: "../Engage/GetMTs",
                        type: "post",
                        data: "fid=" + $("#FirstMid").val() + "&sid=" + sid,
                        success: function (rs) {
                            t.MSName = $("#SecondMid option:checked").text();
                            if (eval("(" + rs + ")").length > 0) {
                                $("#third").remove();
                                t.MTName = eval("(" + rs + ")")[0].ThirdMName;
                                $("#ThirdMid").attr("flag", "true");
                                t.MTs = eval("(" + rs + ")");
                                $("#ThirdMid").attr("disabled", false);
                                $("#ssd").attr("disabled", false);
                                $("#ThirdMid").css("backgroundColor", "#F5EDE1")
                            } else {
                                $("#ThirdMid").attr("flag", "false");
                                t.Flag2 = false;
                                t.MTName = "";
                                t.MTs = [{ ThirdMName: "暂无子机构,请重新选择II级机构", ThirdMid: "0" }];
                                $("#ThirdMid").attr("disabled", "disabled");
                                $("#ssd").attr("disabled", "disabled");
                                $("#ThirdMid").css("backgroundColor", "#EEE")
                            }
                        }
                    });
                },
                GetMTName: function () {
                    this.MTName = $("#ThirdMid option:checked").text();
                },
                GetMK: function () {
                    var t = this;
                    $.ajax({
                        url: "../ConfigMajorKind/Index2",
                        type: "post",
                        success: function (r) {
                            var mdt = eval("(" + r + ")");
                            t.MKName = mdt[0].Majorkindname;
                            t.MKs = mdt;
                        }
                    });
                },
                GetMKName: function () {
                    this.MKName = $("#MajorKindid option:checked").text();
                },
                GetMs: function () {
                    var t = this;
                    t.MKName = $("#MajorKindid option:checked").text();
                    $.ajax({
                        url: "../Engage/GetMs",
                        type: "post",
                        data:"id="+$("#MajorKindid").val(),
                        success: function (r) {
                            var mdt = eval("(" + r + ")");
                            if (mdt.length > 0) {
                                t.MName = mdt[0].Majorname;
                                t.Ms = mdt;
                                $("#www").remove();
                                $("#qxz2").remove();
                                t.MName = eval("(" + r + ")")[0].Majorname;
                                t.Ms = eval("(" + r + ")");
                                $("#Majorid").attr("disabled", false);
                                $("#Majorid").attr("flag", "true");
                                $("#ssd").attr("disabled", false);
                                $("#Majorid").css("backgroundColor", "#F5EDE1")
                            } else {
                                t.MName = "";
                                t.Ms = [{ Majorname: "请重新选择职位分类", Majorid: "0" }];
                                $("#Majorid").attr("disabled", "disabled");
                                $("#Majorid").attr("flag", "false");
                                $("#ssd").attr("disabled", "disabled");
                                $("#Majorid").css("backgroundColor", "#EEE")
                            }
                        }
                    });
                },
                GetMName: function () {
                    this.MName = $("#Majorid option:checked").text();
                },
                GetZPLX: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=招聘类型", function (rs) {
                        t.ZPLX = eval("(" + rs + ")");
                    });
                },
                GetGJ: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=国籍", function (rs) {
                        t.GJ = eval("(" + rs + ")");
                    });
                },
                GetMZ: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=民族", function (rs) {
                        t.MZ = eval("(" + rs + ")");
                    });
                },
                GetZJXY: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=宗教信仰", function (rs) {
                        t.ZJXY = eval("(" + rs + ")");
                    });
                },
                GetZZMM: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=政治面貌", function (rs) {
                        t.ZZMM = eval("(" + rs + ")");
                    });
                },
                GetXL: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=学历", function (rs) {
                        t.XL = eval("(" + rs + ")");
                    });
                },
                GetJYNX: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=教育年限", function (rs) {
                        t.JYNX = eval("(" + rs + ")");
                    });
                },
                GetXLZY: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=学历专业", function (rs) {
                        t.XLZY = eval("(" + rs + ")");
                    });
                },
                GetTC: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=特长", function (rs) {
                        t.TC = eval("(" + rs + ")");
                    });
                },
                GetAH: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=爱好", function (rs) {
                        t.AH = eval("(" + rs + ")");
                    });
                },
                GetZC: function () {
                    var t = this;
                    $.post("/PublicChar/GetPCs", "type=职称", function (rs) {
                        t.ZC = eval("(" + rs + ")");
                    });
                },
                GetSSs:function(){
                    var t = this;
                    $.post("/SalaryStandard/GetSalaryStandardController", function (rs) {
                        t.SSs = eval("(" + rs + ")");
                    });
                },
                SetSalaryStandardName: function () {
                    this.SalaryStandardName = $("#SalaryStandardId option:checked").text();
                    this.SalarySum = $("#SalaryStandardId option:checked").attr("ze");
                },
            },
            created: function () {
                this.GetMFs();
                this.GetMK();
                this.GetZPLX();
                this.GetGJ();
                this.GetMZ();
                this.GetZJXY();
                this.GetZZMM();
                this.GetXL();
                this.GetJYNX();
                this.GetXLZY();
                this.GetTC();
                this.GetAH();
                this.GetZC();
                this.GetSSs();
            }
        });
    </script>
</body>
</html>
