@model Model.HumanFileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HumanFileCheck</title>
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script language="javascript"
            src="../../javascript/winopen/winopenm.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/jquery.messager.js">
    </script>
    <script src="../../javascript/time.js"></script>
    <script type="text/javascript"
            src="../../javascript/human_check.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/human_input_check.js">
    </script>
    <script src="~/jquery.validate.js"></script>
    <script src="~/jquery.validate.unobtrusive.js"></script>
    <script src="~/vue-2.4.0.js"></script>
</head>
<body>
    <div id="aa">
        <form action="register_choose_picture.html" method="post" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Model.Id" />
            <table width="100%">
                <tr>
                    <td>
                        <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案复核 </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="submit" value="复核通过" class="BUTTON_STYLE1" />
                        <input type="reset" value="清除" class="BUTTON_STYLE1">
                        <input type="button" value="返回" class="BUTTON_STYLE1"
                               onclick="history.back()">
                    </td>
                </tr>
            </table>
            <table width="100%" border="1" cellpadding=3 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr>
                    <td class="TD_STYLE1" width="10%">
                        档案编号
                    </td>
                    <td colspan="6" class="TD_STYLE2">
                        @Model.HumanId
                    </td>
                    <td rowspan="6" width="13%" style="text-align: center;">
                        <img src="../../images/regular.jpg" style="width:120px;height:150px;" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1" width="10%">
                        I级机构
                    </td>
                    <td width="13%" class="TD_STYLE2">
                        <input type="hidden" name="FirstMName" value="@Model.FirstMName" />
                        <input type="hidden" name="FirstMid" value="@Model.FirstMid" />
                        @Model.FirstMName
                    </td>
                    <td width="10%" class="TD_STYLE1">
                        II级机构
                    </td>
                    <td width="13%" class="TD_STYLE2">
                        <input type="hidden" name="SecondMName" value="@Model.SecondMName" />
                        <input type="hidden" name="SecondMid" value="@Model.SecondMid" />
                        @Model.SecondMName
                    </td>
                    <td width="10%" class="TD_STYLE1">
                        III级机构
                    </td>
                    <td class="TD_STYLE2" colspan="2" width="2%">
                        <input type="hidden" name="ThirdMName" value="@Model.ThirdMName" />
                        <input type="hidden" name="ThirdMid" value="@Model.ThirdMid" />
                        @Model.ThirdMName
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        职位分类
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" name="HumanMajorKindName" value="@Model.HumanMajorKindName" />
                        <input type="hidden" name="HumanMajorKindId" value="@Model.HumanMajorKindId" />
                        @Model.HumanMajorKindName
                    </td>
                    <td class="TD_STYLE1">
                        职位名称
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" name="HumanMajorName" value="@Model.HumanMajorName" />
                        <input type="hidden" name="HumanMajorId" value="@Model.HumanMajorId" />
                        @Model.HumanMajorName
                    </td>
                    <td class="TD_STYLE1">
                        职称
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        <select name="HumanProDesignation" class="SELECT_STYLE1">
                            <option v-for="(item,i) in CPs" v-bind:value="item.Attributename">{{item.Attributename}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        姓名
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("HumanName",Model.HumanName, new { @class = "INPUT_STYLE2" })
                        @Html.ValidationMessage("HumanName")
                    </td>
                    <td class="TD_STYLE1">
                        性别
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanSex" class="SELECT_STYLE1">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        EMAIL
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        <input type="text" name="HumanEmail" value="@Model.HumanEmail" id="humanEmail" class="INPUT_STYLE2">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        电话
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("HumanTelephone", Model.HumanTelephone, new { @class = "INPUT_STYLE2" })
                        @Html.ValidationMessage("HumanTelephone")
                    </td>
                    <td class="TD_STYLE1">
                        QQ
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" value="@Model.HumanQQ" name="HumanQQ" class="INPUT_STYLE2" />
                    </td>
                    <td class="TD_STYLE1">
                        手机
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        <input type="text" value="@Model.HumanMobilephone" name="HumanMobilephone" class="INPUT_STYLE2" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        住址
                    </td>
                    <td colspan="3" class="TD_STYLE2">
                        <input type="text" value="@Model.HumanAddress" name="HumanAddress" class="INPUT_STYLE2" />
                    </td>
                    <td class="TD_STYLE1">
                        邮编
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        <input type="text" value="@Model.HumanPostcode" name="HumanPostcode" class="INPUT_STYLE2" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        国籍
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanNationality" class="SELECT_STYLE1">
                            <option value="中国">中国</option>
                            <option value="美国">美国</option>
                            <option value="日本">日本</option>
                            <option value="英国">英国</option>
                            <option value="法国">法国</option>
                            <option value="韩国">韩国</option>
                            <option value="俄罗斯">俄罗斯</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        出生地
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" value="@Model.HumanBirthplace" name="HumanBirthplace" class="INPUT_STYLE2" />
                    </td>
                    <td class="TD_STYLE1">
                        生日
                    </td>
                    <td width="13%" class="TD_STYLE2">
                        <input type="text" value="@Model.HumanBirthday" name="HumanBirthday" class="INPUT_STYLE2" id="HumanBirthday" />
                    </td>
                    <td width="10%" class="TD_STYLE1">
                        民族
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanRace" class="SELECT_STYLE1">
                            <option value="汉族">汉族</option>
                            <option value="回族">回族</option>
                            <option value="维吾尔族">维吾尔族</option>
                            <option value="藏族">藏族</option>
                            <option value="蒙古族">蒙古族</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        宗教信仰
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanReligion" class="SELECT_STYLE1">
                            <option value="无">无</option>
                            <option value="佛教">佛教</option>
                            <option value="基督教">基督教</option>
                            <option value="伊斯兰教">伊斯兰教</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        政治面貌
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanParty" class="SELECT_STYLE1">
                            <option value="党员">党员</option>
                            <option value="群众">群众</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        身份证号码
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("HumanIdcard",@Model.HumanIdcard, new { @class = "INPUT_STYLE2" })
                        @Html.ValidationMessage("HumanIdcard")
                    </td>
                    <td class="TD_STYLE1">
                        社会保障号码
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" value="@Model.HumanSocietySecurityId" name="HumanSocietySecurityId" class="INPUT_STYLE2" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        年龄
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" value="@Model.HumanAge" name="HumanAge" id="HumanAge" class="INPUT_STYLE2" readonly="readonly">
                    </td>
                    <td class="TD_STYLE1">
                        学历
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanEducatedDegree" class="SELECT_STYLE1">
                            <option value="初中">初中</option>
                            <option value="高中">高中</option>
                            <option value="大专">大专</option>
                            <option value="本科">本科</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        教育年限
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanEducatedYears" class="SELECT_STYLE1">
                            <option value="12">12</option>
                            <option value="16">16</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        学历专业
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanEducatedMajor" class="SELECT_STYLE1">
                            <option value="生物工程">生物工程</option>
                            <option value="计算机">计算机</option>
                            <option value="土木工程">土木工程</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        薪酬标准
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" v-model="SalaryStandardName" name="SalaryStandardName" />
                        <select name="SalaryStandardId" v-on:change="SetSalaryStandardName" id="SalaryStandardId" class="SELECT_STYLE1">
                            <option value="1">薪酬标准1</option>
                            <option value="2">薪酬标准2</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        开户银行
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="HumanBank" value="@Model.HumanBank"
                               class="INPUT_STYLE2">
                    </td>
                    <td class="TD_STYLE1">
                        帐号
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="HumanAccount" value="@Model.HumanAccount"
                               class="INPUT_STYLE2">
                    </td>
                    <td class="TD_STYLE1">
                        复核人
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="Checker" value="烤山药"
                               readonly="readonly" class="INPUT_STYLE2">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        复核时间
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="CheckTime"
                               id="create_time" readonly="readonly"
                               class="INPUT_STYLE2">
                    </td>
                    <td class="TD_STYLE1">
                        特长
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanSpecility" class="SELECT_STYLE1">
                            <option value="数据库">数据库</option>
                            <option value="java">java</option>
                            <option value="ADC">ADC</option>
                            <option value="中路">中路</option>
                            <option value="打野">打野</option>
                            <option value="上路">上路</option>
                            <option value="辅助">辅助</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        爱好
                    </td>
                    <td class="TD_STYLE2">
                        <select name="HumanHobby" class="SELECT_STYLE1">
                            <option value="篮球">篮球</option>
                            <option value="舞蹈">舞蹈</option>
                            <option value="唱歌">唱歌</option>
                            <option value="rap">rap</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        &nbsp;
                    </td>
                    <td class="TD_STYLE2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        档案附件
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        个人履历
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="HumanHistoryRecords" rows="4"
                                  class="TEXTAREA_STYLE1">@Model.HumanHistoryRecords</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        家庭关系信息
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="HumanFamilyMembership" rows="4"
                                  class="TEXTAREA_STYLE1">@Model.HumanFamilyMembership</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        备注
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="Remark" rows="4" class="TEXTAREA_STYLE1">@Model.Remark</textarea>
                    </td>
                </tr>
            </table>
        </form> 
    </div>
    <script type="text/javascript" >
        var vm = new Vue({
            el: "#aa",
            data: {
                CPs: null,
                SalaryStandardName: $("#SalaryStandardId option:checked").text(),
            },
            methods: {
                GetCPs: function () {
                    var t = this;
                    $.post("/HumanFile/GetCPC", function (rs) {
                        t.CPs = eval("(" + rs + ")");
                    });
                },
                SetSalaryStandardName: function () {
                    this.SalaryStandardName = $("#SalaryStandardId option:checked").text();
                }
            },
            created: function () {
                this.GetCPs();
            }
        });
    </script>
</body>
</html>
