@model Model.MechanismFirstModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToUpdate</title>
    <link rel="stylesheet"  href="../../css/table.css" type="text/css">
    <script type="text/javascript" src="../../javascript/comm/comm.js">
    </script>
    <script src="~/jquery-1.11.1.js"></script>
    <script src="~/jquery.validate.js"></script>
    <script src="~/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    @using(Html.BeginForm("Update", "MechanismFirst", FormMethod.Post)) { 
        <table width="100%">
            <tr>
                <td>
                    <font color="black">
                        您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--I级机构设置--I级机构变更
                    </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="提交" class="BUTTON_STYLE1" />
                    <input type="button" value="返回" class="BUTTON_STYLE1"
                           onclick="history.back();">
                </td>
            </tr>
        </table>

        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <input type="hidden" name="cffk.ffkId" value="755" />
            <tr>
                <td width="19%" class="TD_STYLE1">
                    I级机构编号
                </td>
                <td width="81%" class="TD_STYLE2">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="text" name="FirstMId" value="@Model.FirstMId"
                           readonly="readonly" class="INPUT_STYLE1">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    I级机构名称
                </td>
                <td class="TD_STYLE2">
                    @*<input type="text" name="FirstMName" value="@Model.FirstMName"
                           readonly="readonly" class="INPUT_STYLE1">*@
                    @Html.TextBox("FirstMName", @Model.FirstMName, new { @class = "INPUT_STYLE1" })
                    @Html.ValidationMessage("FirstMName", new { @style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    薪酬发放责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                </td>
                <td class="TD_STYLE2">
                    @*<textarea name="SalaryId" rows="4"
                              class="TEXTAREA_STYLE1"  required="required">@Model.SalaryId</textarea>*@
                    @Html.TextBox("SalaryId", @Model.SalaryId, new { @class = "INPUT_STYLE1" })
                    @Html.ValidationMessage("SalaryId", new { @style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    销售责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                </td>
                <td class="TD_STYLE2">
                    @*<textarea name="SalesId" rows="4"
                              class="TEXTAREA_STYLE1"  required="required">@Model.SalesId</textarea>*@
                    @Html.TextBox("SalesId", @Model.SalesId, new { @class = "INPUT_STYLE1" })
                    @Html.ValidationMessage("SalesId", new { @style = "color:red;" })
                </td>
            </tr>
        </table>
    }
</body>
</html>
