@model Model.HumanFileModel
@{
    Layout = null;
}
@using Model
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>register</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/vue-2.4.0.js"></script>
</head>
<body>
@using (Html.BeginForm("up", "Register_locate", FormMethod.Post))
{
        <table width="100%">
            <tr>
                <td>
                    <font color="#0000CC">您正在做的业务是:人力资源--调动管理--调动登记</font>
                </td>
            </tr>

            <tr>
                <td align="right">
                    <input type="submit" value="提交" class="BUTTON_STYLE1">
                    <input type="button" class="BUTTON_STYLE1"
                           onclick="javascript:window.history.back();" value="返回">
                </td>
            </tr>
        </table>
        <div id="aa">
            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr height="21">
                    <td class="TD_STYLE1" width="8%">
                        档案编号
                    </td>
                    <td class="TD_STYLE2" width="10%">
                        @Html.TextBox("Human_id", @Model.HumanId, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                    </td>
                    <td class="TD_STYLE1" width="8%">
                        姓名
                    </td>
                    <td class="TD_STYLE2" width="10%">
                        @Html.TextBox("Human_name", @Model.HumanName, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                    </td>
                    <td class="TD_STYLE1" width="8%"></td>
                    <td class="TD_STYLE2" width="10%"></td>
                    <td class="TD_STYLE1" width="8%"></td>
                    <td class="TD_STYLE2" width="10%"></td>
                </tr>
                <tr>

                    <td class="TD_STYLE1" width="8%">
                        原一级机构
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("First_kind_name", @Model.FirstMName, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                        <input type="hidden" name="First_kind_id" value="@Model.FirstMid">
                    </td>
                    <td class="TD_STYLE1" width="8%">
                        原二级机构
                    </td>
                    <td class="TD_STYLE2" width="10%">
                        @Html.TextBox("Second_kind_name", @Model.SecondMName, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                        <input type="hidden" name="Second_kind_id" value="@Model.SecondMid">
                    </td>
                    <td class="TD_STYLE1" width="8%">
                        原三级机构
                    </td>
                    <td class="TD_STYLE2" width="10%">
                        @Html.TextBox("Third_kind_name", @Model.ThirdMName, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                        <input type="hidden" name="Third_kind_id" value="@Model.ThirdMid">
                    </td>
                    <td class="TD_STYLE1" width="8%"></td>
                    <td class="TD_STYLE2" width="10%"></td>
                </tr>

                <tr>
                    <td class="TD_STYLE1">
                        原职位分类
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("Major_kind_name", @Model.HumanMajorKindName, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                        <input type="hidden" name="Major_kind_id" value="@Model.HumanMajorKindId">
                    </td>
                    <td class="TD_STYLE1" width="12%">
                        原职位名称
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("Major_name", @Model.HumanMajorName, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                        <input type="hidden" name="Major_id" value="@Model.HumanMajorId">
                    </td>
                    <td class="TD_STYLE1">
                        原薪酬标准
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("Salary_standard_name", @Model.SalaryStandardName, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                        <input type="hidden" name="Salary_standard_id" value="@Model.SalaryStandardId">
                    </td>
                    <td class="TD_STYLE1">
                        原薪酬总额
                    </td>
                    <td class="TD_STYLE2">
                        @Html.TextBox("Salary_sum", @Model.SalaySum, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        新一级机构名称
                    </td>
                    <td width="15%" class="TD_STYLE2">
                        <input type="hidden" name="New_first_kind_name" v-model="MFName" />
                         <select name="New_first_kind_id" id="FirstMid" class="SELECT_STYLE1" v-on:change="GetMSs()">
                            <option v-for="(item,i) in MFs" v-bind:value="item.FirstMId">{{item.FirstMName}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1" width="12%">
                        新二级机构名称
                    </td>
                    <td width="15%" class="TD_STYLE2">
                        <input type="hidden" name="New_second_kind_name" v-model="MSName" />
                        <select name="New_second_kind_id" id="SecondMid" class="SELECT_STYLE1" style="background-color:#eee;" disabled="disabled" v-on:change="GetMTs()">
                            <option id="two" value="">--请先选择I级机构--</option>
                            <option v-for="(item,i) in MSs" v-bind:value="item.SecondMid">{{item.SecondMName}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1" width="12%">
                        新三级机构名称
                    </td>
                    <td width="15%" class="TD_STYLE2">
                        <input type="hidden" name="New_third_kind_name" v-model="MTName" />
                        <select name="New_third_kind_id" id="ThirdMid" class="SELECT_STYLE1" style="background-color:#eee;" disabled="disabled" v-on:change="GetMTName()">
                            <option id="third" value="">--请先选择II级机构--</option>
                            <option v-for="(item,i) in MTs" v-bind:value="item.ThirdMid">{{item.ThirdMName}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1" width="8%"></td>
                    <td class="TD_STYLE2" width="10%"></td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        新职位分类
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" name="New_major_kind_name" v-model="MKName" />
                        <select name="New_major_kind_id" id="MajorKindid" width="15%" class="SELECT_STYLE1" v-on:change="GetMs()">
                            <option v-for="(item,i) in MKs" v-bind:value="item.Majorkindid">{{item.Majorkindname}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1" width="12%">
                        新职位名称
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" name="New_major_name" v-model="MName" />
                        <select name="New_major_id" id="Majorid" width="15%" class="SELECT_STYLE1" v-on:change="GetMName()" disabled="disabled">
                            <option id="www">请选择职位名称</option>
                            <option v-for="(item,i) in Ms" v-bind:value="item.Majorid">{{item.Majorname}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        新薪酬标准
                    </td>
                    <td class="TD_STYLE2">
                        <input type="hidden" v-model="XBs" name="New_salary_standard_name"/>
                        <select name="New_salary_standard_id" id="salary_standard_id" width="15%" class="SELECT_STYLE1" v-on:change="GetBz()">
                            <option v-for="(item,i) in BZs" v-bind:ze="item.Salarysum" v-bind:value="item.Standardid">{{item.Standardname}}</option>
                        </select>
                    </td>
                    <td class="TD_STYLE1">
                        新薪酬总额
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="New_salary_sum" id="newSalarySum" readonly="readonly"
                               v-model="ZEs" class="INPUT_STYLE2">
                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1">
                        登记人
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="Register" id="asda" readonly="readonly"
                               value="@(((View_UserModel)Session["user"]).U_true_name)" class="INPUT_STYLE2">
                    </td>
                    <td class="TD_STYLE1">
                        登记时间
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text"  name="Regist_time" id="Tdate" readonly="readonly"
                               class="INPUT_STYLE2">
                        
                    </td>
                    <td class="TD_STYLE1"></td>
                    <td class="TD_STYLE2"></td>
                    <td class="TD_STYLE1"></td>
                    <td class="TD_STYLE2"></td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        调动原因
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="Change_reason" rows="6" class="TEXTAREA_STYLE1"></textarea>
                    </td>
                </tr>
            </table>
        </div>
}
    <SCRIPT type="text/javascript">
					function time(){
 					var tdate=document.getElementById("Tdate");
 					var d=new Date();
 					var y=d.getFullYear();
 					var moth=d.getMonth()+1;
 					var date=d.getDate();
 					var h=d.getHours();
 					var m=d.getMinutes();
 					var s=d.getSeconds();
					var hh=20-1-h;
					var mm=60-1-m;
					var ss=60-s;
					if(hh>0){
							mm=mm+60*hh;
					}
 					if(moth<10){
 							moth="0"+moth;
 					}
 					if(date<10){
 							date="0"+date;
 					}
 					if(h<10){
 							h="0"+h;
 					}
 					if(m<10){
 							m="0"+m;
 					}
 					if(s<10){
 							s="0"+s;
 					}
 					if(mm<10){
 							mm="0"+mm;
 					}
 					if(ss<10){
 							ss="0"+ss;
 					}

 					tdate.value=y+"-"+moth+"-"+date+"- "+h+":"+m+":"+s;


 				}
				window.onload=time;
 				var out=window.setInterval(time, 1000);
    </SCRIPT>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#aa",
            data: {
                MFs: null,
                MSs: null,
                MTs: null,
                Ms: null,
                MKs: null,
                MFName: null,
                MSName: null,
                MTName: null,
                MKName: null,
                MName: null,
                ZWs: null,
                BZs: null,
                ZEs: null,
                XBs:null
            },
            methods: {
                GetMFs: function () {
                    var t = this;
                    $.ajax({
                        url: "/Register_locate/Index2",
                        type: "post",
                        success: function (rs) {
                            t.MFName = eval("(" + rs + ")")[0].FirstMName;
                            t.MFs = eval("(" + rs + ")");
                        }
                    });
                },
                GetMSs: function () {
                    var t = this;
                    t.MFName = $("#FirstMid option:checked").text();
                    $.ajax({
                        url: "/Register_locate/GetMSsWhereFirst",
                        type: "post",
                        data: "id=" + $("#FirstMid").val(),
                        success: function (rs) {
                            if (eval("(" + rs + ")").length > 0) {
                                $("#two").remove();
                                t.MSName = eval("(" + rs + ")")[0].SecondMName;
                                t.MSs = eval("(" + rs + ")");
                                $("#SecondMid").attr("disabled", false);
                                $("#ssd").attr("disabled", false);
                                $("#SecondMid").css("backgroundColor", "#F5EDE1")
                                t.GetMTs(eval("(" + rs + ")")[0].SecondMid);
                            } else {
                                t.Flag2 = false;
                                t.MSName = "";
                                t.MSs = [{ SecondMName: "暂无子机构,请重新选择I级机构", SecondMid: "0" }];
                                $("#SecondMid").attr("disabled", "disabled");
                                $("#ssd").attr("disabled", "disabled");
                                $("#SecondMid").css("backgroundColor", "#EEE")
                                t.GetMTs("0");
                            }
                        }
                    });
                },
                GetMTs: function (ss) {
                    var t = this;
                    var sid = ss != null ? ss : $("#SecondMid").val();
                    $.ajax({
                        url: "/Register_locate/GetMTs",
                        type: "post",
                        data: "fid=" + $("#FirstMid").val() + "&sid=" + sid,
                        success: function (rs) {
                            t.MSName = $("#SecondMid option:checked").text();
                            if (eval("(" + rs + ")").length > 0) {
                                $("#third").remove();
                                t.MTName = eval("(" + rs + ")")[0].ThirdMName;
                                t.MTs = eval("(" + rs + ")");
                                $("#ThirdMid").attr("disabled", false);
                                $("#ssd").attr("disabled", false);
                                $("#ThirdMid").css("backgroundColor", "#F5EDE1")
                            } else {
                                t.Flag2 = false;
                                t.MTName = "";
                                t.MTs = [{ ThirdMName: "暂无子机构,请重新选择II级机构", ThirdMid: "0" }];
                                $("#ThirdMid").attr("disabled", "disabled");
                                $("#ssd").attr("disabled", "disabled");
                                $("#ThirdMid").css("backgroundColor", "#EEE")
                            }
                        }
                    });
                },
                GetMK: function () {
                    var t = this;
                    $.ajax({
                        url: "/Register_locate/Index3",
                        type: "post",
                        success: function (r) {
                            var mdt = eval("(" + r + ")");
                            t.MKName = mdt[0].Majorkindname;
                            t.MKs = mdt;
                        }
                    });
                },
                GetMs: function () {
                    var t = this;
                    t.MKName = $("#MajorKindid option:checked").text();
                    $.ajax({
                        url: "/Register_locate/GetMs",
                        type: "post",
                        data: "id=" + $("#MajorKindid").val(),
                        success: function (r) {
                            var mdt = eval("(" + r + ")");
                            if (mdt.length > 0) {
                                t.MName = mdt[0].Majorname;
                                t.Ms = mdt;
                                $("#www").remove();
                                t.MName = eval("(" + r + ")")[0].Majorname;
                                t.Ms = eval("(" + r + ")");
                                $("#Majorid").attr("disabled", false);
                                $("#ssd").attr("disabled", false);
                                $("#Majorid").css("backgroundColor", "#F5EDE1")
                            } else {
                                t.MName = "";
                                t.Ms = [{ Majorname: "请重新选择职位分类", Majorid: "0" }];
                                $("#Majorid").attr("disabled", "disabled");
                                $("#ssd").attr("disabled", "disabled");
                                $("#Majorid").css("backgroundColor", "#EEE")
                            }
                        }
                    });
                },
                GetMName: function () {
                    this.MName = $("#Majorid option:checked").text();
                },
                Bzs: function () {
                    var b = this;
                    $.ajax({
                        url: "/Register_locate/Xc",
                        type: "post",
                        success: function (msg) {
                            var ms = eval("(" + msg + ")");
                            b.BZs = ms;
                            b.ZEs = ms[0].Salarysum;
                        }
                    })
                },
                GetBz: function () {
                    this.XBs = $("#salary_standard_id option:checked").text();
                    this.ZEs = $("#salary_standard_id option:checked").attr("ze");
                }
            },
            created: function () {
                this.GetMFs();
                this.GetMK();
                this.Bzs();
            }
        });
    </script>
</body>
</html>
